<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="ASAP4WebForm">
      <section name="Common" type="Asap.Library.Core.CommonConfig, Asap.Library.Core"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="Server=localhost\SQLSERVER2017;Database=ASAPDB;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <ASAP4WebForm>
    <!--
            QuickDebug              是否是Debug模式，若是则将所有Controller下的所有Action都罗列出来，不进行页面权限过滤
            CookiePrefix            Cookie的前缀名
            SyncDb                  是否同步数据库         默认为false，可以不配置
            Proxy                   代理服务器地址         默认为空，可以不配置，即不使用代理
            MainDomain              主域地址              默认为空，可以不配置，即不受主域控制
            VirtualDir              虚拟目录地址           默认为空，可以不配置，即不在虚拟目录下
            MainMachine             是否为主机
            EnableLog               是否启用日志记录，若为true即可在系统的日志管理中查看到所有的页面访问记录
            EmailServiceUseThread   是否启用线程来发送邮件  默认false
            WebSitePrefix           站点前缀   默认为空字符串
            NoRight                 对于没有权限访问的链接，是禁用还是不显示。可以设定为Disable或Invisible，默认是Disable
            EncryptKey              加密密钥    默认空字符串，即不加密
            RPP                     Grid分页默认的每页行数  默认20条
            EnableServiceMonitor    启用系统服务监控    默认false
        -->
    <Common QuickDebug="true" CookiePrefix="CodeArt" SyncDb="true" MainMachine="true" EnableLog="true" EnableServiceMonitor="false" NoRight="Invisible">

      <!--    使用系统轮询
                EnableSystemLoop    是否启用系统轮询         默认为false,若为false则禁用该节点下所有功能，可以不配置
                EnableOnlineCheck   是否启用用户在线检查服务   默认为false，可以不配置
                EnableMessage       是否启用系统消息功能      默认为false，可以不配置
                EnableNotice        是否启用系统通知功能      默认为false，可以不配置
            -->
      <SystemLoop EnableSystemLoop="false" EnableMessage="false" EnableNotice="false" EnableOnlineCheck="false" />

      <!--    邮件发送服务
                UseThread           是否启用线程来发送邮件     默认为false,若为false则禁用该节点下所有功能，可以不配置
                SMTPServiceIP       SMTP服务器IP或域名
                SMTPServicePort     SMTP服务器端口号 默认25端口  可以不配置
                EmailUserName       发送人用户名
                EmailPassWord       发送人密码
                SenderAddress       发送人地址
                SenderName          发送人姓名
                SleepTime           线程暂停时间  单位为分钟，默认５分钟  可以不配置
                EmailAttachmentLimit　单个附件大小限制  默认1.0MB
            -->
      <EmailService UseThread="false" SMTPServiceIP="smtp.126.com" SMTPServicePort="25" EmailUserName="emailhelper" EmailPassWord="abcd-1234" SenderAddress="emailhelper@126.com" SenderName="emailhelper" SleepTime="0.1" EmailAttachmentLimit="1" />

      <!--前端框架配置
                Style           前端框架选择  目前只支持extjs
                Theme           前端主题选择
            -->
      <UI Style="extjs" Theme="neptune" />

      <!--上传服务器目录默认配置，框架中用到上传都跟StorageType的配置走
                UploadDir       上传目录  默认c:\upload
                TempExportDir   导出目录  默认c:\tempexport
            -->
      <Storage StorageType="Local" UploadDir="c:\upload" TempExportDir="c:\tempexport" />

      <!--当站点中使用了DFS时，DFSServer节点必须要配置
            -->
      <DFSServer IsNginx="false" StorageMaxConnection="100" TrackerMaxConnection="100" ConnectionTimeout="100" ConnectionLifeTime="3600">

        <!--Tracker服务器配置 IP不允许重复
                -->
        <TrackerServer>
          <add IP="10.99.187.214" Port="22122" />
        </TrackerServer>

        <!--业务类型配置
                    BusinessTypeName        针对Group进行拆分，有利于DFS服务器的横向扩展
                    Group                   DFS的真实分组，不同BusinessType节点之间可以存在相同Group，但是同一个BusinessType内不允许重复
                -->
        <BusinessType>
          <add BusinessTypeName="mobile">
            <GroupMapping>
              <add Group="g1" InsideUrlHeader="http://10.99.187.214/g1" OutsideUrlHeader="http://10.99.187.214/g1" />
            </GroupMapping>
          </add>
          <add BusinessTypeName="homepage">
            <GroupMapping>
              <add Group="g1" InsideUrlHeader="http://10.99.187.214/g1" OutsideUrlHeader="http://10.99.187.214/g1" />
            </GroupMapping>
          </add>
        </BusinessType>
      </DFSServer>
      <StaticFile Ext="css|js|gif|js|bmp|tif|jpg|jpeg|png" />

      <!--多语言配置-->
      <Languages>
        <add Code="zh-cn" Text="简体中文" IsDefault="true" />
        <add Code="en" Text="English" />
      </Languages>
    </Common>
  </ASAP4WebForm>
</configuration>